@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --text-50: #eae9fc;
    --text-100: #d4d2f9;
    --text-200: #a9a5f3;
    --text-300: #7e78ed;
    --text-400: #534be7;
    --text-500: #281fe0;
    --text-600: #2018b4;
    --text-700: #181287;
    --text-800: #100c5a;
    --text-900: #08062d;
    --text-950: #040316;
    
    --background : #e6e6e6;
    --background-50: #f2f2f2;
    --background-100: #e6e6e6;
    --background-200: #cccccc;
    --background-300: #b3b3b3;
    --background-400: #999999;
    --background-500: #808080;
    --background-600: #666666;
    --background-700: #4d4d4d;
    --background-800: #333333;
    --background-900: #1a1a1a;
    --background-950: #0d0d0d;
    
    --primary-50: #f4e6ff;
    --primary-100: #e9ccff;
    --primary-200: #d39afe;
    --primary-300: #bd67fe;
    --primary-400: #a634fe;
    --primary-500: #9001fe;
    --primary-600: #7301cb;
    --primary-700: #570198;
    --primary-800: #3a0165;
    --primary-900: #1d0033;
    --primary-950: #0e0019;
    
    --secondary-50: #eef0f6;
    --secondary-100: #dde1ee;
    --secondary-200: #bcc3dc;
    --secondary-300: #9aa5cb;
    --secondary-400: #7888ba;
    --secondary-500: #576aa8;
    --secondary-600: #455587;
    --secondary-700: #343f65;
    --secondary-800: #232a43;
    --secondary-900: #111522;
    --secondary-950: #090b11;
    
    --accent-50: #f4e5ff;
    --accent-100: #e9ccff;
    --accent-200: #d399ff;
    --accent-300: #bd66ff;
    --accent-400: #a733ff;
    --accent-500: #9000ff;
    --accent-600: #7400cc;
    --accent-700: #570099;
    --accent-800: #3a0066;
    --accent-900: #1d0033;
    --accent-950: #0e001a;
    
  }
  .dark {

    --text-50: #040316;
    --text-100: #08062d;
    --text-200: #100c5a;
    --text-300: #181287;
    --text-400: #2018b4;
    --text-500: #281fe0;
    --text-600: #534be7;
    --text-700: #7e78ed;
    --text-800: #a9a5f3;
    --text-900: #d4d2f9;
    --text-950: #eae9fc;
    
    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;
    
    --primary-50: #0e0019;
    --primary-100: #1d0033;
    --primary-200: #3a0165;
    --primary-300: #570198;
    --primary-400: #7301cb;
    --primary-500: #9001fe;
    --primary-600: #a634fe;
    --primary-700: #bd67fe;
    --primary-800: #d39afe;
    --primary-900: #e9ccff;
    --primary-950: #f4e6ff;
    
    --secondary-50: #090b11;
    --secondary-100: #111522;
    --secondary-200: #232a43;
    --secondary-300: #343f65;
    --secondary-400: #455587;
    --secondary-500: #576aa8;
    --secondary-600: #7888ba;
    --secondary-700: #9aa5cb;
    --secondary-800: #bcc3dc;
    --secondary-900: #dde1ee;
    --secondary-950: #eef0f6;
    
    --accent-50: #0e001a;
    --accent-100: #1d0033;
    --accent-200: #3a0066;
    --accent-300: #570099;
    --accent-400: #7400cc;
    --accent-500: #9000ff;
    --accent-600: #a733ff;
    --accent-700: #bd66ff;
    --accent-800: #d399ff;
    --accent-900: #e9ccff;
    --accent-950: #f4e5ff;
  }
}
